<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<section id="footer">
    <div class="bg-dark">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <% for (var i = 0; i < 3; i++) { %>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-right text-white">
                    <p>© 2019, Shopping cart. All rights reserved.</p>
                </div>
                </hr>
            </div>
        </div>
    </div>
</section>
