<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h2>HOME</h2>
    <a href="/product"><input class="btn btn-primary" type="button" value="Show Product"></a>
    <a href="/add-product"><input class="btn btn-primary" type="button" value="Add product"></a>
</div>
</body>
</html>
