<head>
    <title>Title</title>
</head>

<body>
    <div>NEW PERSON</div>
    <form action="/insert" method="POST">
        <table>
            <tr>
                <td>First name</td>
                <td>
                    <input type="text" name='first_name'>
                </td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>
                    <input type="text" name='last_name'>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="text" name='age'>
                </td>
            </tr>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
</body>